{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-ico">
    <title> {{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
{% block mainmenu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="nav nav-fill w-100">
      {% for item, ref in menu.items %}
        <li class="nav-item flex-fill">
          <a class="nav-link text-light" href="{{ ref }}">
            {{ item }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endblock mainmenu %}
{% block content %}
{% endblock %}
</body>
</html>