{% extends 'films/base.html' %}
{% block content %}
    <body>
    {% if list_of_films %}
        <ul>
            {% for film in list_of_films %}
                <li><a href="{{ film.get_absolute_url }}">{{ film.name }}</a>
                    <p>{{ film.annotation }}</p>
                    {% if film.rating != 0 %}
                    <p>Рейтинг: {{ film.rating }}</p>
                    {% endif %}</li>

            {% endfor %}
        </ul>
    {% else %}
        <p>Тут пока ничего нет</p>
    {% endif %}
    </body>
{% endblock %}
